<html>
  <head>
    <!-- Open Graph metas -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="a test url" />
    <meta property="og:title" content="My first link preview" />
    <meta property="og:description" content="Learning link previews" />
    <meta
      property="og:image"
      content="/og_image?title=My%20first%20link%20preview"
    />
    <meta property="og:image:type" content="image/png"/>

    <!-- Twitter metas -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="a test url" />
    <meta name="twitter:site" content="shubham.codes" />
    <meta name="twitter:creator" content="@schwiftycold" />
    <meta property="twitter:title" content="My first link preview" />
    <meta property="twitter:description" content="Learning link previews" />
    <meta
      property="twitter:image"
      content="/og_image?title=My%20first%20link%20preview"
    />
  </head>
  <img src="/og_image?title=My%20first%20link%20preview"/>
</html>
